.openIssues {
    padding-left: 1em;
}

.forks {
    padding-left: 1em;
}

.gravatar {
    margin-right: 10px;
    border-radius: 5px;
    border-width: 1px;
    border-style: solid;
    border-color: #ddd;

}

/* User */
.vcardStats{
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
}
.vcardStat {
    text-align: center;
    float: left;
    width: 33.333%;
    font-size: 11px;
    color: rgb(153, 153, 153);
}

strong.vcardStatCount {
    display: block;
    font-size: 28px;
    font-weight: bold;
    line-height: 1;
    color: rgb(34, 34, 34);
}

.vcardStat:hover {
    text-decoration: none;
}